.form-field {
	display: grid;
	grid-template-columns: 75px 200px;
}

form > * {
	padding: 2px 0;
}

#blogs {
	margin-top: 20px;
}

button {
	cursor: pointer;
}

.info {
	color: green;
}

.error {
	color: red;
}

.info,
.error {
	background: lightgrey;
	font-size: 20px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
}
